@tailwind base;
@tailwind components;
@tailwind utilities;

.darkMode{
  background-color: gray;
}

@font-face {
  font-family: "burtons";
  src: url('../public/Burtons.otf');

}
@font-face {
  font-family: "exo";
  src: url('../public/otf/Exo-ExtraLight.otf');

}


